*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    position: relative;
}

/* .banner {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.banner_top img {
    max-width: 100%;
    height: auto;
} */

/* .new-button {
    position: absolute;
    top: 50px;
    left: 160px;
    text-decoration: none;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #8b8080;
    border-radius: 2px;
    font-size: 22px;
} */

/* body  {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
} */

.rodape{

    background-color: rgb(38, 107, 185);
    color: #ffffff;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* .logo {
    max-width: 100%;
    margin-top: -80px;
} */

.logo img {
    max-width: 100%;
    height: auto;
    height: 300px;
    object-fit: cover;
}

.header-buttons {
    /* text-align: right;
    position: absolute;
    top: 110px;
    right: 20px; */
    display: flex;
    justify-content: space-between;
    margin: 14px;    
}

.header-buttons a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #133b66;
    color: #fff;
    border-radius: 10px;
    font-size: 19px;
    margin-left: 10px;
}

.main {
    display: grid;
    text-align: center;
    column-gap: 25px;
    row-gap: 30px;
    margin: 30px 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'banner benefits';
}

.main_banner {
    /* margin-top: 20px; */
    grid-area: banner;
}

.main_banner img {
    max-width: 100%;
    height: auto;
    margin-top: 0;
}

.solution img {
    margin-top: 0px;
    max-width: 100%;
    height: auto;
    font-family: "Times", sans-serif;
}

.benefits {
    grid-area: benefits;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    line-height: 1.5;
}

.benefits ul li {
    list-style: none;
}

@media screen and (max-width: 600px) {
    .new-button {
        top: 30px;
        left: 20px;
        padding: 15px 20px;
        font-size: 18px;
    }

    .btn_pesq {
        top: 30px;
        right: 20px;
        text-align: center;
    }

    .btn_pesq input[type="text"] {
        padding: 10px;
        width: 80%;
    }

    .header-buttons {
        top: 30px;
        right: 20px;
    }
}

.container2{
    font-family: 'Arial', sans-serif;
    max-width: 1000px;
    font-size: 24px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h3 {
    color: #333;
    margin-left: 50px;
}

h3 {
    font-weight: bold;
}
.sobre-nos {
    margin-bottom: 20px;
}

.sobre-nos p {
    line-height: 1.5;
}


html {
    scroll-behavior: smooth;
  }

 
:target {
  scroll-margin-top: .8em;
}